.patternsRow {
    width: 100%;
    margin-top: 5px;
    display: block;

    background-color: rgba(0, 0, 0, 0.25);
}

.patternsRow h1 {
    font-size: 5vmin;
    color: white;
    margin: 5px 0px 0px 5px;
}

.patternDiv {
    position: relative;
    display: inline-block;
    width: 10vmin;
    height: 10vmin;
    margin: 5px;
}

.patternDiv button {
    width: 100%;
    height: 100%;

    border-style: none;
    border-radius: 25%;

    vertical-align: top;
}

/* Hidden input tags used for color and file selection */
.patternDiv input {
    width: 0px;
    height: 0px;
    opacity: 0%;
}

/* Lock icon */
.patternDiv div {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;

    background: url(../../Pictures/Icons/lock.svg);

    cursor: help;
}

.patternDiv button:disabled {
    filter: contrast(25%) brightness(50%);
    cursor: default;
}

.unlockedPattern {
    display: none;
}

.tooltipSpan {
    position: absolute;
    top: -100%;
    left: 0px;
    white-space: nowrap;
    padding: 1.5vmin;

    font-size: 3vmin;
    color: white;

    border-radius: 20px;
    background-color: #101010;

    display: none;
}

.patternDiv div:hover .tooltipSpan {
    display: inline-block;
}