.settingsButton {
    margin: 10px;
    padding: 10px;
    display: block;
    font-size: 4vmin;
}

.settingsButton img {
    transform: translate(0, -5%);
    width: 4vmin;
    height: 4vmin;
    margin-left: 10px;
    margin-right: 5px;
    vertical-align: middle;
}

.settingsInputDiv {
    position: relative;
    width: fit-content;
    margin: 10px;
    padding: 10px;

    border-radius: 20px;

    background-color: white;

    font-size: 4vmin;
    color: black;
}

.settingsInputDiv input {
    position: relative;
    margin-left: 5px;
    width: 9vmin;
    height: 4vmin;
    vertical-align: middle;

    border-style: solid;
    border-radius: 8px;
    border-width: 2px;
    border-color: black;

    font-size: 4vmin;
}

.settingsInputDiv input::placeholder {
    transform: translate(0, -50%);
    font-size: 1.5vmin;
}